---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
import { getContactContents } from "@data/api";
const data =await getContactContents();
let pages = "";
if (data?.pages) {
  pages = data.pages?.edges?.[0]?.node?.contactSections;
}
const {contact={}}=pages;
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{pages?.contextTitle}</Fragment>
      <Fragment slot="desc">{pages?.contextDescription}</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">{contact?.title}</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          {contact?.description}
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>{contact?.address}</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:nikesh@thre3labs.com"
              >{contact?.contactEmail}</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            {/*<Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (813) 679 6367">+1 (813)679-6367</a
          >*/}
          </div>
        </div>
      </div>
      <div>
        <Contactform contactApiUrl={contact?.formSubmissionApiUrl}/>
      </div>
    </div>
  </Container>
</Layout>
